export LOG_LEVEL=debug
export AWS_BUCKET_NAME=s1t
export REACT_APP_ENV=hosted
export NANGO_DB_HOST=integration-ds
export NANGO_DB_HOSTNAME=integration-ds
export NANGO_DB_USER=postgres
export NANGO_DB_NAME=postgres
export NANGO_PUBLIC_KEY_DEV=58D5E212-165B-4CA0-909B-C86B9CEE0111
export NANGO_PUBLIC_KEY_PROD=58D5E212-165B-4CA0-909B-C86B9CEE0112
export NODE_ENV=development
export AWS_ENDPOINT_URL_S3=http://pscibis:80
export AWS_REGION=us-east-1
export AWS_DEFAULT_REGION=us-east-1
export AWS_ACCESS_KEY_ID=fduemciccwicwa
export AWS_SECRET_ACCESS_KEY=jwo32291mmcjjcjuuu

export ACP_SSO="YXV0aDA="
export ALLOW_ALL_VALID_USERS="dHJ1ZQ=="
export API_KEY="ODh0ZDVGNzBDbFJFZFI3bDN3NFVoWVBrOU9hUTJOeXU="
export APIFY_API_KEY="YXBpZnlfYXBpXzRJYWVRVWdFU2RxMDlJcFRwVjFGU3p0TmYzNU1KVjF2QXpTWA=="
export ARGON_KEY="cHJvZC1IK0p4TERHcVZrNkgzOQ=="
export AUTH0_ACP_CALLBACK="aHR0cHM6Ly9tZ3QucHJvcGdlbmllLnNldi0xLXRlc3QuY29tL2F1dGgvYXV0aDAvY2FsbGJhY2s="
export AUTH0_CLIENT_ID="eHljU3psV0xPQ05HclpNVjFQam5jYnV4cThqVTk2dU8="
export AUTH0_CLIENT_SECRET="aGNIV1dPU3loaWJQWE5nQnZFODVYUEtDVWZPNVRjS0NBYWhzZGZaeDdMUHRjXzlObkQ1ZWFQdDBwT2VtYVNtVA=="
export AUTH0_DOMAIN="ZGV2LTFzdTdqbHJyMDVnYmMzNWsudXMuYXV0aDAuY29t"
export AUTH0_JWKS_URL="aHR0cHM6Ly9hdXRoLnBzY2liaXMuY29tLy53ZWxsLWtub3duL2p3a3MuanNvbg=="
export AZURE_DEPLOYMENT_NAME="Z3B0LTQtdHVyYm8tczF0LXN0YWdpbmc="
export AZURE_MODEL="Z3B0LTQ="
export AZURE_OAI_EMBEDDING_URL="aHR0cHM6Ly93ZXN0dXMuYXBpLmNvZ25pdGl2ZS5taWNyb3NvZnQuY29tL29wZW5haS9kZXBsb3ltZW50cy9hZGEtMDAyLXMxdC1zdGFnaW5n"
export AZURE_OAI_KEY_WEST="YjAwOTdiYTBlNDcxNGNiNGIxNzVlODhmNmE0ZmZmMTA="
export AZURE_OAI_KEY1="YjAwOTdiYTBlNDcxNGNiNGIxNzVlODhmNmE0ZmZmMTA="
export AZURE_OAI_KEY2="ZTBkNjNhYjBjMTAyNDYxMDhiMTk4ODgzZmE5ZGQzZDM="
export AZURE_OPENAI_API_VERSION="MjAyMy0xMi0wMS1wcmV2aWV3"
export AZURE_OPENAI_ENDPOINT="aHR0cHM6Ly93ZXN0dXMuYXBpLmNvZ25pdGl2ZS5taWNyb3NvZnQuY29tLw=="
export AZURE_OPENAI_KEY="ZTBkNjNhYjBjMTAyNDYxMDhiMTk4ODgzZmE5ZGQzZDM="
export AZURE_STORAGE_ACCESS_KEY="eDc5YWNmcDhrcUNGY29rdjhzeW5IRlU4RElGK1MyU3laclczRHorUWhNSTFPV1RzN1Vzem56Rmx2ME5tWmVkWUVaVGRqdFdRRXdCYytBU3RpWEhsSHc9PQ=="
export AZURE_STORAGE_ACCOUNT="cHNjaXN0Z3MxdHN0Zw=="
export AZURE_US_EAST_API_KEY="YjAwOTdiYTBlNDcxNGNiNGIxNzVlODhmNmE0ZmZmMTA="
export AZURE_US_EAST2_API_KEY="YjAwOTdiYTBlNDcxNGNiNGIxNzVlODhmNmE0ZmZmMTA="
export CHAINS_API_KEY="ODh0ZDVGNzBDbFJFZFI3bDN3NFVoWVBrOU9hUTJOeXU="
export CLOUD="YXp1cmU="
export CLOUDTASKER_HOST=""
export DATABASE_URL="cG9zdGdyZXM6Ly9jbG91ZHNhOmFuMGdKVnhUcUlWZWdrSWlAcHNjaWJpcy1zMXQtc3RhZ2luZy5wb3N0Z3Jlcy5kYXRhYmFzZS5henVyZS5jb206NTQzMi9wc2NpX3Byb2RfYXBpX3Bn"
export DB_HOSTNAME="cHNjaWJpcy1zMXQtc3RhZ2luZy5wb3N0Z3Jlcy5kYXRhYmFzZS5henVyZS5jb20="
export DB_NAME="cHNjaV9wcm9kX2FwaV9wZw=="
export DB_PASSWORD="YW4wZ0pWeFRxSVZlZ2tJaQ=="
export DB_USERNAME="Y2xvdWRzYQ=="
export DISABLE_SSL="dHJ1ZQ=="
export DROP_DB="ZmFsc2U="
export GOOGLE_API_KEY="QUl6YVN5Qjl1bjAxb0Q0Ykx6Y2stNFZsVTlHckhrQmhQWjZVVkxB"
export GOOGLE_CSE_ID="MDA2ZmEyZmQzNjBhYTRiYTE="
export GOOGLE_PROJECT_NAME=""
export JWT_SECRET="ZFVNSnc0M0xMRVdkb1BrRTJHZlphbFJqbGdIbWNOZ20="
export LANGCHAIN_API_KEY="andWYVZiUDJobW9jT2pMRw=="
export LLM_MODEL="Z3B0LTQ="
export NANGO_DASHBOARD_PASSWORD="bmJ1amhvbXpxdmF6c2R6bA=="
export NANGO_DASHBOARD_USERNAME="aW50ZWdyYXRpb25zLWFkbWlu"
export NANGO_DB_PASSWORD="ZGVjYWNhd2duaWpicGNyeg=="
export NANGO_SECRET_KEY_DEV="NDg4QzQ5NjItOTYyRi00RUNFLTg2NEUtQzFEOTcyOTZDREQ3"
export NANGO_SECRET_KEY_PROD="NDg4QzQ5NjItOTYyRi00RUNFLTg2NEUtNEEyMkE5NDA4Qjcx"
export NANGO_SERVER="aHR0cHM6Ly9pbnRlZ3JhdGlvbi5wcm9wZ2VuaWUuc2V2LTEtdGVzdC5jb20="
export NANGO_SERVER_URL="aHR0cHM6Ly9pbnRlZ3JhdGlvbi5wcm9wZ2VuaWUuc2V2LTEtdGVzdC5jb20="
export NANGO_SERVER_WEBSOCKETS_PATH="/"
export NODE_BASE_URL="aHR0cHM6Ly9ycGMucHJvcGdlbmllLnNldi0xLXRlc3QuY29tL2FwaQ=="
export NODE_ENV="cHJvZHVjdGlvbg=="
export OPEN_AI_ENDPOINT="aHR0cHM6Ly93ZXN0dXMuYXBpLmNvZ25pdGl2ZS5taWNyb3NvZnQuY29tLw=="
export OPENAI_API_KEY="YjAwOTdiYTBlNDcxNGNiNGIxNzVlODhmNmE0ZmZmMTA="
export OPENAI_API_TYPE="YXp1cmU="
export OPENAI_API_VERSION="MjAyMy0wNS0xNQ=="
export OPENAI_DEP_NAME_ADA002V2="YWRhLTAwMi1zMXQtc3RhZ2luZw=="
export OPENAI_DEP_NAME_GPT4_TURBO="Z3B0LTQtdHVyYm8tczF0LXN0YWdpbmc="
export OPENAI_DEP_NAME_GPT4_VIZ="Z3B0LTQtdmlzaW9uLXMxdC1zdGFnaW5n"
export OPENAI_ENDPOINT="aHR0cHM6Ly93ZXN0dXMuYXBpLmNvZ25pdGl2ZS5taWNyb3NvZnQuY29tLw=="
export OPENAI_MODEL_NAME_ADA002V2="dGV4dC1lbWJlZGRpbmctYWRhLTAwMg=="
export OPENAI_MODEL_NAME_GPT4_TURBO="Z3B0LTQ="
export OPENAI_MODEL_NAME_GPT4_VIZ="Z3B0LTQ="
export PGDATABASE="cHNjaV9wcm9kX2FwaV9wZw=="
export PGHOST="cHNjaWJpcy1zMXQtc3RhZ2luZy5wb3N0Z3Jlcy5kYXRhYmFzZS5henVyZS5jb20="
export PGHOSTNAME="cHNjaWJpcy1zMXQtc3RhZ2luZy5wb3N0Z3Jlcy5kYXRhYmFzZS5henVyZS5jb20="
export PGPASSWORD="YW4wZ0pWeFRxSVZlZ2tJaQ=="
export PGUSER="Y2xvdWRzYQ=="
export PSCI_CHAINS_URL="aHR0cHM6Ly9haS5wcm9wZ2VuaWUuc2V2LTEtdGVzdC5jb20="
export PSCI_COMPANY_PID="czF0"
export PSCI_OPENAI_KEY="YjAwOTdiYTBlNDcxNGNiNGIxNzVlODhmNmE0ZmZmMTA="
export PSCI_QDRANT_API_KEY="Y25HTTBhbVhFcFFOUmp4OA=="
export PSCI_QDRANT_HOST="aHR0cDovL3FkcmFudGQyMDAyYWE1LS1tN25rYm1pLnB1cnBsZWdsYWNpZXItYjhkOGFlMjcud2VzdHVzLmF6dXJlY29udGFpbmVyYXBwcy5pbw=="
export PSCI_QDRANT_PORT="ODA="
export PSCICRPASS="cis0UWdSdmF4N1lPdHBkVFpJeE9HRXZDL1d1SXZONDJETlFkWHNvMGpRK0FDUkFiY3NCZw=="
export QDRANT_API_KEY="Y25HTTBhbVhFcFFOUmp4OA=="
export RAILS_LOG_TO_STDOUT="dHJ1ZQ=="
export SAM_CSV_BUCKET_NAME="c2FtLWdvdi1jc3YtczF0"
export SAM_GOV_API_KEY="ZkMwRG0yUTNETE5PbTBVdUI5aEI5MloxSTBWS1VJVUExQ3BTdm5wcg=="
export SECRET_KEY_BASE="RU1QVFk="
export SENDGRID_KEY="U0VOREdSSURfS0VZ"
export SERVER_PORT="MzAwMw=="
export SPO_APP_ID="NWRhMmI1YTYtNTMxMi00ZTUyLWEzZTctNTZjMjQ5MjE0OTAz"
export SPO_APP_SECRET="bDEzOFF+fllhNzVtT3pyUzMzakVOQVg3TE5LYjJseVVLaWlYU2NESA=="
export STORAGE_PROJECT="cHNjaXN0Z3MxdHN0Zw=="
export STRIPE_SECRET_KEY=""
export TELEMETRY="ZmFsc2U="
export USA_SPENDING_DATABASE_URL="cG9zdGdyZXM6Ly9jbG91ZHNhOmFuMGdKVnhUcUlWZWdrSWlAcHNjaWJpcy1zMXQtc3RhZ2luZy5wb3N0Z3Jlcy5kYXRhYmFzZS5henVyZS5jb206NTQzMi9wc2NpX3Byb2RfYXBpX3Bn"
export USER_DOMAIN="c2V2LTEtdGVzdC5jb20="
export WAF_POLICY_RESOURCE_ID="/3N1YnNjcmlwdGlvbnMvNjk0MTk1OTgtNTM2OS00NWZkLTllN2UtOTYwNWIwNGU0M2Q0L3Jlc291cmNlR3JvdXBzL2Frc1Jlc291cmNlR3JvdXAvcHJvdmlkZXJzL01pY3Jvc29mdC5OZXR3b3JrL0FwcGxpY2F0aW9uR2F0ZXdheVdlYkFwcGxpY2F0aW9uRmlyZXdhbGxQb2xpY2llcy9wc2NpQWtzQUdJQ0Jhc2VXQUZQb2xpY3k5OTE4ZWMxMA=="
export WOLFRAM_ALPHA_APPID="YXVOMW1yODFCcUU1SnB4dg=="
export ZEPTOMAIL_SMTP_HOST="WkVQVE9NQUlMX1NNVFBfSE9TVA=="
export ZEPTOMAIL_SMTP_PASSWORD="WkVQVE9NQUlMX1NNVFBfUEFTU1dPUkQ="
export ZEPTOMAIL_SMTP_SENDER="WkVQVE9NQUlMX1NNVFBfU0VOREVS"

